* {
    box-sizing: border-box;
}

h1{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.centeringBox{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rowAndGameBox{
  display: flex;
}

.gameBox{
  display: flex;
  flex-wrap: wrap;
  width: 10px; /*adjust to 20 X axisSize*/
  height: 10px;
}

/*row clue style*/
.rowClues{
  display: flex;
  flex-direction: column;
  /*height: 200px; /*adjust to 20 X axisSize*/
  justify-content: space-evenly;
  width: max-content;
  height: 100%;
}

.rowClue{
  border-bottom: 1px solid black;
  width: 100%;
  text-align: end;
}

/*column clue styles*/
.columnClues{
  min-height:80px;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  width: 200px; /*adjust to 20 X axisSize*/
}

.columnClue{
  writing-mode: vertical-rl;
  text-orientation: upright;
  border-right: 1px solid black;
  width: 100%;
  text-align: end;
}

.cell{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: auto;
  line-height: 20px;
  text-align: center;
}

.color{
  background-color: blue;
  border: 1px solid white;
}

.empty{

}

.toggle{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 20px;
}