* {
    box-sizing: border-box;
}

html { 
  background-image: linear-gradient(to bottom right, black, #606f79); 
  background-repeat: no-repeat;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  color: rgb(220, 228, 252);
  border: 2px solid rgb(220, 228, 252);
  border-radius: 15px;
}

.centeringBox{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #C1C7D9;
  border-radius: 5px;
  padding: 20px;
}

.rowAndGameBox{
  display: flex;
}

.gameBox{
  display: flex;
  flex-wrap: wrap;
  width: 10px; /*adjust to 20 X axisSize*/
  height: 10px;
}

/*row clue style*/
.rowClues{
  display: flex;
  flex-direction: column;
  /*height: 200px; /*adjust to 20 X axisSize*/
  justify-content: space-evenly;
  width: max-content;
  height: 100%;
}

.rowClue{
  border-bottom: 1px solid black;
  width: 100%;
  text-align: end;
}

/*column clue styles*/
.columnClues{
  min-height: 80px;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 200px; /*adjust to 20 X axisSize*/
}

.columnClue{
  white-space: pre-wrap;
  overflow: hidden;
  text-align: center;
  text-align-last: center;
  border-right: 1px solid black;
  width: 20px;
}

.cell{
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin: auto;
  line-height: 20px;
  text-align: center;
}

.color{
  background-color: #191C59;
}

.toggle{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #687B8C;
  padding: 15px 0px 15px 30px;
  border-radius: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.label{
  width: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.sqr{
  height: 20px;
  width: 20px;
  background-color: #191C59;
  border: 1px solid rgb(150, 150, 150);
}

@keyframes flashColor {
  0% {background-color: blue; color: white;}
  10% {background-color: purple; color: white;}
  30% {background-color: red; color: rgb(184, 182, 182);}
  50% {background-color: orangered; color: rgb(49, 49, 49);}
  70% {background-color: yellow; color: rgb(49, 49, 49);}
  90% {background-color: green; color: rgb(184, 182, 182);}
  100% {background-color: blue; color: white;}
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 15px;
  right: -15px;
  bottom: 0;
  background-color: #394D59;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #C1C7D9;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(116, 116, 116);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.winNotification{
  display: none;
  border-radius: 5px;
  font-weight: 900;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  animation: flashColor 2s; 
  animation-iteration-count: infinite;
}